<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documents</title>
</head>
<body>
    {{stu}} 
    <table>
        <tr>
            <th>ID</th>
            <th>stuname</th>
            <th>stufather</th>
            <th>num</th>
        <tr>
        {% for st in stu%}
        </tr>
            <td>{{st.stuid}}</td>
            <td>{{st.stuname}}</td>
            <td>{{st.stufathername}}</td>
            <td>{{st.num}}</td>
        </tr>
        {% endfor %}

    </table>
</body>
</html>
</head>
